button {
  background: var(--primary);
  color: white;
  cursor: pointer;
}

button.secondary {
  background: var(--secondary);
  color: var(--text);
}

button.danger {
  background: var(--error);
  color: white;
}

button .nf {
  margin-right: 6px;
}

.icon-button {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
}
