# Domain
MQTT_DOMAIN=
MQTT_USE_PUBLIC_IP=

# Certbot
CERTBOT_EMAIL=
CERTBOT_ARGS=

# Container
CONTAINER_ENGINE=
CONTAINER_NAME=
IMAGE_NAME=

# Ports
ACME_HTTP_PORT=
MQTT_TLS_PORT=
MQTT_WS_TLS_PORT=
ADMIN_HTTPS_PORT=
ADMIN_APP_PORT=

# Paths on host
BASE_DIR=

# Client certificate authentication (step-ca)
MQTT_TOPIC_PREFIX=

# MQTT monthly cleanup
MQTT_MONTHLY_CLEANUP_ENABLED=
MQTT_MONTHLY_CLEANUP_DAY=
MQTT_MONTHLY_CLEANUP_HOUR=

# step-ca
STEP_CA_DOMAIN=
STEP_CA_PORT=
STEP_CA_URL=
STEP_CA_PROVISIONER=
STEP_CA_FINGERPRINT=
STEP_CA_DEVICE_CERT_TTL=

# Admin Web
ADMIN_RP_NAME=
ADMIN_RP_ID=
ADMIN_ORIGIN=
ADMIN_SETUP_TOKEN=
ADMIN_SESSION_SECRET=
ADMIN_MQTT_CLIENT_ID=
